body {
    font-family: Arial, sans-serif;
    background-color: rgb(69, 66, 66);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #ddd;
    margin-top: 20px;
}

h2 {
    color: black;
    margin: 10px 0;
}

button {
    background-color: gold;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(184, 134, 11);
}

h3 {
    margin-top: 20px;
    color: black
    ;
}

.posts{
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin-top: 10px;
}

.follow-info {
    display: flex;
    gap: 15px; /* Adds spacing between the elements */
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}
