.content{
    width: 100%;
    height: 50%;
    padding: 20px;
    background-color:rgb(138, 133, 133)
}
body{
    background-color:rgb(69, 66, 66);
    cursor: url('tucursor.jpg'),auto;
}
label{
    color:gold;
}
.subject{
    width: 100%;
    height: 5%;
    padding: 20px;
    background-color:rgb(138, 133, 133)
}
textarea{
    vertical-align: top;
}